@using Newtonsoft.Json
@using Newtonsoft.Json.Serialization
@using Angelo.Connect.Models
@using Angelo.Connect.Announcement.Models;
@using Angelo.Connect.Announcement.UI.ViewModels

@inject Angelo.Connect.Configuration.SiteContext siteContext

@model AnnouncementWidgetCategoryFormViewModel


<div class="k-content">
    @(Html.Kendo().ComboBox()
          .Name("announcementWidgetCategoryAutoComplete")
          .Placeholder(Html.Localize("Search for category by name...").ToString())
          .DataTextField(Html.Localize("Title").ToString())
          .DataValueField(Html.Localize("Id").ToString())
          .HtmlAttributes(new { style = "width:100%;" })
          .Filter(FilterType.Contains)
          .BindTo(Model.AnnouncementCategories)
          .Events(e =>
          {
              e.Select("onSelectWidgetPostCategory");
          })
    )
</div>
