
@{
    Layout = "_MasterLayout";
}

@section BodyContent{

    <div class="container">
        <center>
            <img style="margin-top: 50px;" src="/img/oops.jpg" />
        </center>
        
    </div>
   
}
