@{
    var googleSearchCode = ViewData["GoogleSearchCode"].ToString();
}

<div class="container">
    <div class="cn-search-results cn-search-results-google">
        <gcse:searchresults-only></gcse:searchresults-only>
    </div>
</div>