@using Angelo.Connect
@using Microsoft.Extensions.Options
@using Angelo.Connect.Models

@model FileDocument
@inject IOptions<DriveOptions> _driveOptions
@{ 
    var driveOptions = _driveOptions.Value;
}

<div data-id="@Model.DocumentId" class="thumbnail" onclick="itemSelected(this);" style="width:120pt;">
    <div style="text-align:center;height:80pt;">
        @*NOTE: Thumbnail is just a document icon*@
        <img src="@GetThumbnailUrl(Model)" height="105" width="105" />
        @*<span class="glyphicon glyphicon-folder" />*@
    </div>
    <div class="caption panel-footer">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12" style="text-overflow:ellipsis;">
                    @Model.FileName
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function itemSelected(source) {
        $(source).find("div.caption").toggleClass('documentItemSelected');
    }
</script>
<style>
     .documentItemSelected{
        background-color:  #d8dcf7 !important;
    }
</style>
@functions{
    public string GetThumbnailUrl(FileDocument document)
    {
        return $"{_driveOptions.Value.Authority}/download/thumbnail?id={document.DocumentId}";
    }
}