@using Angelo.Connect
@using Microsoft.Extensions.Options
@using Angelo.Connect.Models
@using Angelo.Connect.Extensions

@model FileDocument
@inject IOptions<DriveOptions> _driveOptions
@{
    var driveOptions = _driveOptions.Value;
}


<div data-id="@Model.DocumentId" class="thumbnail" style="width:150pt;">
    <div style="text-align:center;height:80pt;">
        @*NOTE: Thumbnail is just a document icon*@
        <video width="190" height="105" controls>
            <source src="@GetThumbnailUrl(Model)#t=01,00" type="@Model.GetMimeType()">
        </video>
    </div>
    <div class="caption panel-footer">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12" style="text-overflow:ellipsis;">
                    @Model.FileName
                </div>
            </div>
        </div>
    </div>
</div>

@functions{
    public string GetThumbnailUrl(FileDocument document)
    {
        return $"{_driveOptions.Value.Authority}/download?id={document.DocumentId}";
    }
}