@model Angelo.Connect.Models.NewUserSetPassword

<html>
<body>
    <h3>@Model.Username,  You've been setup as a new user!</h3>

    <p>Before accessing the site you will need to set a new password for your account</p>
    <p>Following the link below to create a new password:</p>

    <a href="@Model.EmailLink">Click Me To Set Your Password</a>
</body>

</html>
