<div name="blog-explorer" data-module="console/blog/explorer">
<ul class="list-unstyled">
    <li>
        <div class="clearfix">
            <a data-route="/sys/console/sitealerts/List" class="pull-left">
                <i class="fa fa-list"></i> &nbsp;
                @Html.Localize("My Alerts")
            </a>
            <a name="post-create" class="pull-right text-success" data-route="/sys/console/sitealerts/create">
                <i class="fa fa-plus"></i> &nbsp;
                @Html.Localize("Create")
            </a>
        </div>
    </li>
</ul>
</div>