<div class="site-toolbar">
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <pagetools></pagetools>
            </div>
            <div class="col-sm-4 text-right">
                <usertools></usertools>
            </div>
        </div>
    </div>
</div>

<div class="cns-header bg-default">
    <div class="container">
        <div class="row">
            <div class="col-sm-5">
                <zone name="header" allow-containers="false" allow-padding="false"></zone>
            </div>
            <div class="col-sm-7">
                <div class="cns-topnavigation">
                    <content name="site-nav" type="navmenu" model="main-menu"></content>
                </div>
            </div>
        </div>
        <zone name="social" allow-containers="false" allow-padding="true"></zone>
    </div>
</div>


<div class="page-body">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <!-- Embedded Auto Nav -->
                <div class="cns-sidenavigation">
                    <content name="auto-nav" type="navauto"></content>
                </div>
                <zone name="side" allow-containers="false"></zone>
            </div>
            <div class="col-sm-8">
                <!-- Page Content Insertion Point-->
                <page allow-containers="false"></page>
            </div>
        </div>
    </div>
</div>


<!-- Footer -->


<footer class="cns-footer bg-dark">
    <div class="container">
        <zone name="footer" allow-containers="false"></zone>
        <copyright></copyright>
    </div>
</footer>
