/*-------- Begin Exported Site Css, Site: Matrix Demo Site --------*/

@import url('https://fonts.googleapis.com/css?family=Raleway');

h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
    letter-spacing: 0.4px;
    font-family: 'Raleway', Helvetica, Arial, sans-serif; }
.h1 { font-family: 'Raleway', Helvetica, Arial, sans-serif; }

body { 
    margin: 0px;
    font-family:  'Raleway', Helvetica, Arial, sans-serif;}

.text-info {
    color: #022B3F;}

/* template structure */
.cs-toolbar{ 
    padding: 5px 15px 0 15px;
    background: #000; 
    color: #fff; }

.cs-header{ }
.cs-header-navbar{}
.cs-header-content{}

.cs-page{}
.cs-page-content{}
.cs-page-side{}

.cs-nopadding {padding: 0}

.cs-homecontent{background: #086584;}

.cs-footer{
    margin-top: 0px; }
.cs-footer-content { }
.cs-footer-info {
    text-align: center}

.cs-socialmediaback { padding: 10px;} 
.cs-socialmedia a { 
    padding: 5px;
    color: #000000;
    font-size: 20px;
    background: #cccccc;
    text-align: center;
    float: left;
    width: 36px;
    height: 36px; 
    border-radius: 100%; 
    margin-right: 7px; /*space between*/} 
.cs-socialmedia a i {
    font-size: 20px;
    line-height: 38px;
    color: #000000;}

.search-field .fa-search { color: #eee;}
.cs-textwhite {color: #fff;}

/* color schemes */
.bg-default { background: #ffffff;}
.bg-muted {background: #f1f1f1; }
.bg-dark {background: #252525; color: #eee; }
.bg-contrast { background: #575757;  }
.bg-clean { background: #ffffff }
.bg-success {background: #338FD5}
.bg-info {background: #A4D4AC;}
.bg-fancy { }

/* navigation ribbon */
.navbar {
    border-radius: 0; margin-bottom: 0;}
.navbar .navbar-default {margin-bottom: 0 }
.navbar-default { border: none;background-color: transparent;}  
.nav > li > a {
    font-family: color: #333;}
.navbar-default .navbar-nav > li > a {
    color: #fff; font-family: 'Raleway', Helvetica, Arial, sans-serif;  text-transform: uppercase;}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #ccc;}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    color: #999; background-color: #222222;}
.dropdown-menu {background-color: #222;color:#fff;}
.dropdown-menu > li > a {color:#ffffff;}
