@keyframes fade-in{
	0%   {opacity: 0;}
	100% {opacity: 1;}
}

@keyframes fade-out{
	0%   {opacity: 1;}
	100% {opacity: 0;}
}

@keyframes rotate-in{
	0%   {transform: rotateY(90deg); transform-origin:top; }
    30%   {transform: rotateY(90deg); transform-origin:top; }
	100% {transform: rotateY(0deg); transform-origin:top; }
}

@keyframes slide-left-in {
    0% {
        transform: translateX(100%);

    }
    100% {
        transform: translateX(0);
        /*opacity: 1;*/
    }
}

@keyframes slide-left-out {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
        /*opacity: 0;*/
    }
}

@keyframes slide-right-out {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(100%);
        /*opacity: 0;*/
    }
}

@keyframes slide-right-in {
    0% {
        transform: translateX(-100%);

    }
    100% {
        transform: translateX(0);
        /*opacity: 1;*/
    }
}



