/* element styles */
a { cursor: pointer }
a:active, 
a:focus { outline: none !important; }
a:hover { text-decoration: none !important; }

/* layout helpers */
.padded { padding: 15px; }
.padded-bottom { padding-bottom: 15px; }

/* bootstrap overrides / fixes */
.navbar-vertical .navbar-header
{
    float: none;
}

/* backgrounds */
.bg-muted,
.row-alt {
    background-color: #f3f3f3;
}

/* borders */
.bordered {
    border: 1px #ccc solid;
}

/* custom components*/
.alert.alert-default {
    background: #f3f3f3;
    border: 1px #ddd solid !important;
}

.placeholder {
    padding: 50px 0;
    text-align: center;
    color: #ccc;
    font-size: 24px;
    font-weight: bold;
    min-height: 125px;
    opacity: 0.75;
}

.horizontal-list > * {
    display: inline-block;
}

.horizontal-list > *:not(:last-child) {
    margin-right: 20px;
}

.form-control-scrollable {
    border: 1px solid #ccc;
    height: 120px;
    overflow-y: scroll;
    padding: 10px;
}

.tab-pane > .form-control-scrollable:first-child
{
    border-top: none;
}