
/* Media Browswer Styles*/
.media-cropper
{
    border: 1px #ddd solid;
    background: #fff;
    width: 80%;
    margin: 30px auto 0 auto;
}

.media-cropper-heading
{
    background-color: #ddd;
    padding: 10px 15px;
}

.media-cropper-title
{
    font-size: 14pt;
}

.media-cropper-body
{
    padding: 15px;
}

.media-cropper-folders
{

}

.media-cropper-results
{
}

/* single select style */
.media-cropper-selection img
{
    width: 100%; height: auto;
}

/* multi select style */
.media-cropper-multi .media-cropper-selection img
{
    height: 50px; width: auto; margin: 0 5px 5px 0;
}

.media-cropper-files
{
    min-height: 400px;
}

.media-cropper-footer
{
    padding: 0 15px 15px 15px;
}

.media-cropper-commands > button:not(:last-child)
{
    margin-right: 15px;
}

/* Kendo cleanup */
.media-cropper .k-filebrowser .k-tiles-arrange .k-dropdown {
    width: 7em;
}


.img-container{
    max-height: 550px;
}