@using Angelo.Connect.SlideShow.Models
@using Angelo.Connect.SlideShow.Extensions;

@model string

<select class="form-control" style="width:150px" asp-for="@Model">

        <option value="slideShowDelay0">0 seconds</option>
        <option value="slideShowDelay1">1 seconds</option>
        <option value="slideShowDelay2">2 seconds</option>
        <option value="slideShowDelay3">3 seconds</option>
        <option value="slideShowDelay4">4 seconds</option>
        <option value="slideShowDelay5">5 seconds</option>
        <option value="slideShowDelay6">6 seconds</option>
        <option value="slideShowDelay7">7 seconds</option>
        <option value="slideShowDelay8">8 seconds</option>
        <option value="slideShowDelay9">9 seconds</option>
        <option value="slideShowDelay10">10 seconds</option>
   

</select>
