@using Angelo.Identity.Services

@model Angelo.Identity.Models.LdapDomain

@{

    var componentId = (string)ViewData["cid"];
}


<h3>This is my details for this selected items</h3>

<form id="@componentId" action="" class="form-horizontal" data-ajax-form role="form">

</form>