@model SiteCollectionViewModel

@{
    var componentId = (string)ViewData["cid"];
}

<form id="@componentId" action="/api/sitecollections" class="form-horizontal" data-ajax-form>
    <input hidden="hidden" name="Id" type="text" asp-for="Id" />
    <input hidden="hidden" name="ClientId" type="text" asp-for="ClientId" />

    <div class="form-group">
        <label class="col-sm-4">@Html.Localize("Name")</label>
        <div class="col-sm-8">
            <input id="editCollectionName" name="Name" type="text" class="form-control" asp-for="Name" value="@Model.Name" required autofocus />
        </div>
    </div>
</form>

    
