@{
    var origin = ViewData["Origin"];
}

<h1>@Html.Localize("Page.Login.ForgotPasswordConfirmation.Title")</h1>
<p>
    @Html.Localize("Label.Login.CheckEmail")
</p>
<div class="pull-right">
    <a href="@origin">
        @Html.Localize("Label.Login.Return")
    </a>
</div>