@{
    var origin = ViewData["Origin"];
    var returnUrl = ViewData["ReturnUrl"];
}
<h1>@Html.Localize("Page.Login.ResetPasswordDone.Title").</h1>

<p>
    @Html.Localize("Label.Login.PasswordResetMsg1")

    <a href="@origin">
        @Html.Localize("Label.Login.PasswordResetMsg2")
    </a>.
</p>