@using Angelo.Connect.News.Models

@model NewsWidget

<form class="form" data-ajax-form="true" action="/api/widgets/News">
    <input type="hidden" asp-for="Id" />
    <div class="form-group">
        <label>@Html.Localize("News Title")</label>
        <div>
            <input class="form-control" asp-for="Title" spellcheck="true" />
        </div>
    </div>
    <div class="form-group">
        <label class="form-label">@Html.Localize("Postings to Show")</label>
        <div>
            <select class="form-control" asp-for="PageSize">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="10">10</option>
                <option value="15">15</option>
                <option value="20">20</option>
            </select>
        </div>
    </div>
    <hr />

</form>
<br />
