<div class="cs-toolbar row">
    <div class="col-sm-6">
        <pagetools></pagetools>
    </div>
    <div class="col-sm-6 text-right">
        <usertools></usertools>
    </div>
</div>

<header class="cs-header">   
    <div class="cs-header-content">
        <zone name="header" allow-containers="true"></zone>
    </div>

    <div class="cs-header-navbar container">
        <content name="site-nav" type="navmenu" model="main-menu"></content>
    </div>
</header>


<div class="cs-page cs-page-layout-1">
    <div class="cs-page-content">
        <page allow-containers="true"></page>
    </div>
</div>


<footer class="cs-footer">
    <div class="cs-footer-content">
        <zone name="footer" allow-containers="true"></zone>
    </div>
    <div class="cs-footer-info">
        <copyright></copyright>
    </div>
</footer>