@using Kendo.Mvc.UI
@using Angelo.Connect.Kendo.Extensions
@using Angelo.Connect.Models;


<div class="container body-content">
    <div class="row" style="height:100px;"></div>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2>Notify Me Sign-Up</h2>
                </div>
                <div class="panel-body">
                    <div class="container-fluid">
                        <div class="table span12">
                            <div class="row">
                                <h3>You have been successfully unsubscribed from the notification group(s).</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
