
@using Kendo.Mvc.UI
@using Angelo.Connect.Kendo.Extensions
@using Angelo.Connect.Models;


@{
    var userGroups = (List<UserGroup>)ViewData["UserGroups"];
    var eModel = (string)ViewData["eModel"];
}

<div class="container body-content">
    <div class="row" style="height:100px;"></div>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2>Notify Me Sign-Up</h2>
                </div>
                <div class="panel-body">

                    @using (Html.BeginRouteForm("Notify Me", new { action = "UnsubscribeRequest" }, FormMethod.Post))
                    {
                        @Html.Hidden("eModel", eModel)

                        <div class="container-fluid">

                            <div class="table span12">
                                <div class="row"><h3>Do you want to stop receiving notifications from the following group(s)?</h3></div>
                                <div class="row">
                                    <ul>
                                        @foreach (var userGroup in userGroups)
                                        {
                                            <li><h3>@userGroup.Name</h3></li>
                                        }
                                    </ul>
                                </div>
                                <div class="row">
                                    <input type="submit" name="accept" value="No" class="pull-right" /> 
                                    <span class="pull-right">&nbsp;</span>
                                    <input type="submit" name="accept" value="Yes" class="pull-right" />
                                </div>
                            </div>
                        </div>
                    }

                </div>
            </div>
        </div>
    </div>
</div>




