@model CategoryViewModel

@{
    var componentId = (string)ViewData["cid"];
}

<form id="@componentId" action="/api/category" data-ajax-form>
    <input hidden="hidden" name="Id" type="text" asp-for="Id" />

    <div class="form-group">
        <label>@Html.Localize("Title")</label>
        <div>
            <input id="categoryEditTitle" name="Title" type="text" class="form-control" asp-for="Title" value="@Model.Title" required autofocus spellcheck="true" />
        </div>
    </div>
</form>