@{
    var componentId = (string)ViewData["cid"];
    var siteId = (string)ViewData["siteId"];
}

<!-- widget preview images-->
<div class="widget-preview-list clearfix">



    <div class="widget-handle" data-widget-id="widget-5">
        <img class="widget-image" src="/img/widgets/widget-5.png" />
    </div>

    <div class="widget-handle" data-widget-id="widget-3">
        <img class="widget-image" src="/img/widgets/widget-3.png" />
    </div>
    <div class="widget-handle" data-widget-id="widget-2">
        <img class="widget-image" src="/img/widgets/widget-2.png" />
    </div>
    <div class="widget-handle" data-widget-id="widget-7">
        <img class="widget-image" src="/img/widgets/widget-7.png" />
    </div>
    <div class="widget-handle" data-widget-id="widget-8">
        <img class="widget-image" src="/img/widgets/widget-8.png" />
    </div>
    <div class="widget-handle" data-widget-id="widget-4">
        <img class="widget-image" src="/img/widgets/widget-4.png" />
    </div>
    <div class="widget-handle" data-widget-id="widget-9">
        <img class="widget-image" src="/img/widgets/widget-9.png" />
    </div>

    
    <div class="widget-handle" data-widget-id="widget-6">
        <img class="widget-image" src="/img/widgets/widget-6.png" />
    </div>
    <div class="widget-handle" data-widget-id="widget-1">
        <img class="widget-image" src="/img/widgets/widget-1.png" />
    </div>
   
</div>

<!-- widget content templates-->
<div class="widget-list">
    <div id="widget-8" class="widget" data-preview="/img/widgets/widget-8.png">
        <div class="page-header">
            <h1 style="margin-bottom: 30px; font-size: 50px;"><b class="text-uppercase">Cras justo odio</b> <small>Donec id elit non mi</small></h1>
            <p class="lead"><em>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</em></p>
        </div>
    </div>

    <div id="widget-9" class="widget" data-preview="/img/widgets/widget-9.png">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro labore architecto fuga tempore omnis aliquid, rerum numquam deleniti ipsam earum velit aliquam deserunt, molestiae officiis mollitia accusantium suscipit fugiat esse magnam eaque cumque, iste corrupti magni? Illo dicta saepe, maiores fugit aliquid consequuntur aut, rem ex iusto dolorem molestias obcaecati eveniet vel voluptatibus recusandae illum, voluptatem! Odit est possimus nesciunt.</p>
    </div>

    <div id="widget-1" class="widget" data-preview="/img/widgets/widget-1.png">
        <div class="jumbotron">
            <h1>Hello, world!</h1>
            <p>This is a simple hero unit</p>
            <p><a role="button" href="#" class="btn btn-primary btn-lg">Learn more</a></p>
        </div>
    </div>

    <div id="widget-5" class="widget" data-preview="/img/widgets/widget-5.png">
        <div class="thumbnail">
            <img src="/img/widgets/stock/somewhere_bangladesh.jpg">
            <div class="caption">
                <h3>Thumbnail label</h3>
                <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                <p>
                    <a href="#" class="btn btn-primary" role="button">Button</a>
                    <a href="#" class="btn btn-default" role="button">Button</a>
                </p>
            </div>
        </div>
    </div>

    <div id="widget-2" class="widget" data-preview="/img/widgets/widget-2.png">
        <h1>Heading text 1</h1>
        <p>Body text</p>
    </div>

    <div id="widget-3" class="widget" data-preview="/img/widgets/widget-3.png">
        <h2>Heading text 2</h2>
        <p>Body text</p>
    </div>

    <div id="widget-4" class="widget" data-preview="/img/widgets/widget-4.png">
        <div class="media">
            <div class="media-left">
                <a href="#">
                    <img class="media-object" src="/img/widgets/stock/yenbai_vietnam.jpg" />
                </a>
            </div>
            <div class="media-body">
                <h4 class="media-heading">Media heading</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos minus hic praesentium, nihil nemo, optio delectus explicabo at beatae. Ullam itaque, officiis maxime quibusdam impedit vero?</p>
            </div>
        </div>
    </div>

    <div id="widget-6" class="widget" data-preview="/img/widgets/widget-6.png">
        <div class="row">
            <div class="col-md-6 text-center">
                <img class="img-circle img-responsive" style="display: inline-block;" src="/img/widgets/stock/sydney_australia_squared.jpg" />
            </div>
            <div class="col-md-6">
                <h3>Lorem ipsum</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi molestias eius quaerat, adipisci ratione aliquid eum explicabo illum temporibus? Optio facilis eveniet quam, impedit eos architecto sequi dolorum illo facere, consequatur sit voluptatibus sunt eius ad officia corrupti modi quia minima voluptas vero. Minus, maxime!</p>
            </div>
        </div>
    </div>

    <div id="widget-7" class="widget" data-preview="/img/widgets/widget-7.png">
        <div class="row">
            <div class="col-md-4 text-center">
                <img class="img-circle img-responsive" style="display: inline-block;" src="/img/widgets/stock/somewhere_bangladesh_squared.jpg" />
                <h3>Lorem ipsum</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel, alias, temporibus? Vero natus modi ipsa debitis, accusamus accusantium cum quam. Saepe atque quisquam pariatur voluptatem expedita nesciunt reprehenderit et vitae.</p>
            </div>
            <div class="col-md-4 text-center">
                <img class="img-circle img-responsive" style="display: inline-block;" src="/img/widgets/stock/wellington_newzealand_squared.jpg" />
                <h3>Lorem ipsum</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat, aut, earum. Quod, debitis, delectus. Maxime eius ipsam sit dolorum perspiciatis obcaecati consectetur, explicabo reprehenderit repellat tempore veniam eos ducimus! Dignissimos.</p>
            </div>
            <div class="col-md-4 text-center">
                <img class="img-circle img-responsive" style="display: inline-block;" src="/img/widgets/stock/yenbai_vietnam_squared.jpg" />
                <h3>Lorem ipsum</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil voluptatibus dicta corrupti aliquam, natus voluptatem pariatur quidem nostrum nisi corporis id ratione exercitationem et recusandae incidunt assumenda soluta qui odit.</p>
            </div>
        </div>
    </div>
</div>
