
<div class="custom-toolbar">
    <div class="container">
        <div class="row">
            <div class="col-sm-9">
                <pagetools></pagetools>
            </div>
            <div class="col-sm-3 text-right">
                <usertools></usertools>
            </div>
        </div>
    </div>
</div>

<div class="container">

    <div class="page-header">
        <zone name="header" allow-containers="false"></zone>
    </div>


    <div class="row">
        <div class="col-sm-4">

            <div class="page-left">
                <zone name="side" allow-containers="false"></zone>
            </div>

        </div>
        <div class="col-sm-8">

            <div class="page-body">
                <page allow-containers="false"></page>
            </div>

        </div>
    </div>

    <div class="page-footer">
        <zone name="footer" allow-containers="false"></zone>

        <hr />
        <div class="clearfix">
            <div class="pull-left text-info">
                Business2:2 Column Layout
            </div>
            <div class="pull-right text-muted">
                Powered by Angelo.Connect
            </div>
        </div>
    </div>
</div>